@(visitForm: Form[VisitModel], projectsByCustomers: Map[String, List[(Option[Long], String, String)]])(implicit flash: Flash, lang: Lang)
@import helper._
@import helper.twitterBootstrap._

@main("Zone Admin", section = "Visit") {
    <ul class="breadcrumb">
        <li><a href="#" class="glyphicons eye_open"><i></i>Views</a></li>
        <li class="divider"></li>
        <li><a href="@routes.VisitsController.list(0,10)">Visits</a></li>
        <li class="divider"></li>
        <li>Adding</li>
    </ul>
    <h3 class="heading-mosaic">Adding Visit</h3>
    <div class="innerLR">
            <!-- <form class="form-horizontal" style="margin-bottom: 0;" id="validateSubmitForm" method="get" autocomplete="off">     -->
        @helper.form(action = routes.VisitsController.save(),'class ->"form-horizontal",'style -> "margin-bottom: 0;",'id -> "validateSubmitForm"){

                <div class="widget">
                    <!-- Widget heading -->
                    <div class="widget-head">
                        <h4 class="heading">A new visit</h4>
                    </div>
                    <div class="widget-body">
                        <h5>Name</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="name of society..." id="name" name="name" value="" class="input-sm form-control col-md-6">
                            </div>
                        </div>
                        <div class="separator bottom"></div>
                        <h5>Projects</h5>
                        <div class="row">
                            <div class="col-md-3">
                                <select id="idprojectlist" class="form-control" data-style="btn-primary">
                                @projectsByCustomers.map { case (customername, pbc) =>
                                        <optgroup label="@customername">
                                            @pbc.map { case (idproject,projectname,customer) =>
                                                <option value="@idproject">@projectname</option>
                                            }
                                        </optgroup>
                                }
                                </select>
                                <input type="hidden" id="idproject" name="idproject" value="">
                            </div>
                        </div>
                        <input type="hidden" id="reference" name="reference" value="noref" class="input-sm form-control col-md-6">
                        <div class="separator bottom"></div>
                        <h5>Meter</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="number of meters ..." id="meter" name="meter" value="" class="input-sm form-control col-md-6">
                            </div>
                        </div>
                        <div class="separator bottom"></div>
                        <h5>Lock</h5>
                        <div class="row uniformjs">
                            <div class="col-md-6">
                                <label class="checkbox">
                                    <input id="lock" name="lock" type="checkbox" class="checkbox" value="false"/>
                                    Project Locked
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="create" name="create" value="">
        <hr class="separator" />
            <!-- Form actions -->
        <div class="form-actions">
            <button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok"><i></i>Create</button>
            <a  href="@routes.VisitsController.list(0,10)" class="btn btn-icon btn-default glyphicons circle_remove"><i></i>Cancel</span></a>
        </div>
    </div>
        <script>

            $( "#idproject" ).attr('value', $("#idprojectlist").val());

            $('input[type="checkbox"]').change(function() {
                if($(this).is(":checked")) {
                    $(this).attr('value', 'true');
                }
                else {
                    $(this).attr('value', 'false');
                }
            });

            $('#idprojectlist').change(function() {
                $( "#idproject" ).attr('value', $(this).val());
            });

        $(function() {
            if("@flash.get("success")" != "") {

                var n = noty({
                    text: '@flash.get("success")', 
                    layout: 'topRight',
                    type: 'information'});
            }
            if("@flash.get("error")" != "") {
                var n = noty({
                    text: '@flash.get("error")', 
                    layout: 'top',
                    type: 'error'});
            }
        });
    </script>
    }

}