@(visit: VisitModel, projectsByCustomers: Map[String, List[(Option[Long], String, String)]], from: Option[String])(implicit flash: Flash, lang: Lang)
@import helper._
@import helper.twitterBootstrap._

@main("Zone Admin", section = "Visit") {
    <ul class="breadcrumb">
        <li><a href="#" class="glyphicons eye_open"><i></i>Views</a></li>
        <li class="divider"></li>
        <li><a href="@routes.VisitsController.list(0,10)">Visits</a></li>
        <li class="divider"></li>
        <li>Editing</li>
    </ul>
    <h3 class="heading-mosaic">Editing Visit</h3>
    <div class="innerLR">
        @helper.form(action = routes.VisitsController.update(visit.id.get,from.get),'id -> "validateSubmitForm"){
                <div class="widget">
                    <!-- Widget heading -->
                    <div class="widget-head">
                        <h4 class="heading">A new visit</h4>
                    </div>
                    <div class="widget-body">
                        <h5>Name</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="name of society..." id="name" name="name" value="@visit.name" class="input-sm form-control col-md-6">
                            </div>
                        </div>
                        <div class="separator bottom"></div>
                        <h5>Projects</h5>
                        <div class="row">
                            <div class="col-md-3">
                                <select id="idvisitlist" class="form-control" data-style="btn-primary">
                                @projectsByCustomers.map { case (customername, pbc) =>
                                        <optgroup label="@customername">
                                            @pbc.map { case (idproject,projectname,customer) =>
                                                <option value="@idproject">@projectname</option>
                                            }
                                        </optgroup>
                                }
                                </select>
                                <input type="hidden" id="idproject" name="idproject" value="@visit.idproject">
                            </div>
                        </div>
                        <div class="separator bottom"></div>
                        <h5>Reference : @visit.reference</h5>
                        <input type="hidden" placeholder="reference ..." id="reference" name="reference" value="@visit.reference" class="input-sm form-control col-md-6">
                        <div class="separator bottom"></div>
                        <h5>Meter</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="number of meters ..." id="meter" name="meter" value="@visit.meter" class="input-sm form-control col-md-6">
                            </div>
                        </div>
                        <div class="separator bottom"></div>
                        <h5>Lock</h5>
                        <div class="row uniformjs">
                            <div class="col-md-6">
                                <label class="checkbox">
                                    <input id="lock" name="lock" type="checkbox" class="checkbox" value="@visit.lock"/>
                                    Project Locked
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" id="createdate" name="createdate" value="@visit.createdate">
        <hr class="separator" />

            <!-- Form actions -->
        <div class="form-actions">
            <button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok"><i></i>Update</button>
            <a  href="@from.getOrElse("/visits")" class="btn btn-icon btn-default glyphicons circle_remove"><i></i>Cancel</span></a>
        </div>
    </div>
    }
    <script>
        $(function() {
            // INIT
            $('input[type="checkbox"]').each(function() {
                if( $( this ).attr('value') == 'true')
                {
                    $( this ).prop('checked',true);
                }
                else {
                    $( this ).prop('checked',false);
                }
            });
            $( "#idvisitlist" ).val($( '#idproject' ).attr('value'));

            // EVENTS
            $('input[type="checkbox"]').change(function() {
                if($(this).is(":checked")) {
                    $(this).attr('value', 'true');
                }
                else {
                    $(this).attr('value', 'false');
                }
            });

            $('#idvisitlist').change(function() {
                console.log("change");
                $( "#idproject" ).attr('value', $(this).val());
            });

            if("@flash.get("success")" != "") {

                var n = noty({
                    text: '@flash.get("success")', 
                    layout: 'topRight',
                    type: 'information'});
            }
            if("@flash.get("error")" != "") {
                var n = noty({
                    text: '@flash.get("error")', 
                    layout: 'top',
                    type: 'error'});
            }
        });
    </script>
}