@(visit: VisitModel, project: ProjectModel, customer: CustomerModel, environments: List[Boolean])

@main("Zone Admin", section = "Visit") {
    <ul class="breadcrumb">
        <li><a href="@routes.CustomersController.view(customer.id.get)" class="glyphicons tag"><i></i>@customer.name</a></li>
        <li class="divider"></li>
        <li><a href="@routes.ProjectsController.view(project.id.get)"><i></i>@project.name</a></li>
        <li class="divider"></li>
        <li><a href="@routes.VisitsController.view(visit.id.get)"><i></i>@visit.name</a></li>
    </ul>
    <div class="separator bottom"></div>
    <div class="innerLR">
        <div class="widget">
            <div class="widget-head">
                <h4 class="heading">Details</h4>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Informations</h4>
                        <div class="separator bottom"></div>
                        <p>Nom : <b>@visit.name</b></p>
                        <p>Reference : <b>@visit.reference</b></p>
                        <p>Meter : <b>@visit.meter m2</b></p>
                        <p>Create Date : <b>@visit.createdate</b></p>
                        <p>Customer : <a href="@routes.CustomersController.edit(customer.id.get)">@customer.name</a></p>
                        <p>Project : <a href="@routes.ProjectsController.view(project.id.get)">@project.name</a></p>
                        <p>
                            Environnements : 
                                    @if(environments(0)) { <a href="#" class="androidenv"></a>}
                                    @if(environments(1)) { <a href="#" class="iosenv"></a>}
                                    @if(environments(2)) { <a href="#" class="macenv"></a>}
                                    @if(environments(3)) { <a href="#" class="winenv"></a>}
                        </p>
                        <a href="@{routes.VisitsController.edit(visit.id.get) + "?from=" + routes.VisitsController.view(visit.id.get)}"><span class="btn btn-primary btn-icon glyphicons pencil"><i></i>Edit...</span></a>
                    </div>
                    <div class="col-md-4">
                        <h4>Preview</h4>
                        <div class="separator bottom"></div>
                        <p class="thumbnail"><img  alt="Profile" style="width:200px;" src="/preview/@visit.reference"></p>
                        <span class="btn btn-block btn-inverse">Visit with WebPlayer</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget">
            <div class="widget-head">
                <h4 class="heading">Statistics</h4>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-3">
                        <h4>Downloads</h4>
                        <p>not available</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Visits</h4>
                        <p>not available</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Agency</h4>
                        <p>not available</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Devices</h4>
                        <p>not available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}