@(project: ProjectModel, customer: CustomerModel, visits: List[VisitModel])

@main("Zone Admin", section = "Project") {
    <ul class="breadcrumb">
        <li><a href="@routes.CustomersController.view(customer.id.get)" class="glyphicons tag"><i></i>@customer.name</a></li>
        <li class="divider"></li>
        <li><a href="@routes.ProjectsController.view(project.id.get)"><i></i>@project.name</a></li>
    </ul>
    <div class="separator bottom"></div>
    <div class="innerLR">
        <div class="widget">
            <div class="widget-head">
                <h4 class="heading">Details</h4>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Informations</h4>
                        <div class="separator bottom"></div>
                        <p>Name : <b>@project.name</b></p>
                        <p>Code : <b>@project.codename</b></p>
                        <p>Customer : <a href="@routes.CustomersController.edit(customer.id.get)">@customer.name</a></p>
                        <p>Locked : @if(project.lock.get == true ){ yes } else { no }</p></a>

                        <a href="@{routes.ProjectsController.edit(project.id.get) + "?from=" + routes.ProjectsController.view(project.id.get)}"><span class="btn btn-primary btn-icon glyphicons pencil"><i></i>Edit...</span>
                    </div>
                    <div class="col-md-4">
                        <h4>Preview</h4>
                        <div class="separator bottom"></div>
                        <span class="btn btn-block btn-inverse">Visit with WebPlayer</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget">
            <div class="widget-head">
                <h4 class="heading">List of visits (@visits.length)</h4>
            </div>
            <div class="widget-body">
                @for(visit <- visits) {
                    <div data-toggle="gridalicious" data-gridalicious-width="200" class="hide2">
                        <div class="widget widget-heading-simple widget-body-white widget-pinterest">
                            <div class="widget-body padding-none">
                                <a data-toggle="prettyPhoto" rel="prettyPhoto[gallery_1]" href="/preview/@visit.reference" class="thumb no-ajaxify col-md-12" data-gallery>
                                    <img src="/preview/@visit.reference" alt="photo" />
                                </a>
                                <div class="description col-md-12">
                                    <h5 align="center" class="text-uppercase"><a href="@routes.VisitsController.view(visit.id.get)">@visit.name</a></h5>
                                    <p align="center">@visit.meter m2</p>
                                    <span class="btn btn-block btn-inverse">Visit with WebPlayer</span>
                                </div>
                            </div>
                        </div>    
                    </div>
                }
            </div>
        </div>
        <div class="widget">
            <div class="widget-head">
                <h4 class="heading">Statistics</h4>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-3">
                        <h4>Downloads</h4>
                        <p>not available</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Visits</h4>
                        <p>not available</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Agency</h4>
                        <p>not available</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Devices</h4>
                        <p>not available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}