@(projectForm: Form[ProjectModel], customers: List[CustomerModel])(implicit flash: Flash, lang: Lang)
@import helper._
@import helper.twitterBootstrap._

@main("Zone Admin", section = "Project") {
    <ul class="breadcrumb">
        <li><a href="#" class="glyphicons eye_open"><i></i>Views</a></li>
        <li class="divider"></li>
        <li><a href="@routes.ProjectsController.list(0,10)">Projects</a></li>
        <li class="divider"></li>
        <li>Adding</li>
    </ul>
    <h3 class="heading-mosaic">Adding Project</h3>
    <div class="innerLR">
        @helper.form(action = routes.ProjectsController.save,'id -> "validateSubmitForm"){

                <div class="widget">
                    <!-- Widget heading -->
                    <div class="widget-head">
                        <h4 class="heading">Identification</h4>
                    </div>
                    <div class="widget-body">
                        <h5>Name</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="name of project..." id="name" name="name" value="" class="input-sm form-control col-md-6">
                            </div>
                        </div>
                        <div class="separator bottom"></div>
                        <h5>Code</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="project code is part of unique visit reference" id="codename" name="codename" value="" class="input-sm form-control col-md-6" maxlength="5">
                            </div>
                        </div>
                        <div class="separator bottom"></div>
                        <h5>Customer</h5>
                        <div class="row">
                            <div class="col-md-3">
                                <select id="idcustomerlist" class="form-control" data-style="btn-primary">
                                @for(customer <- customers){
                                    <option value="@customer.id">@customer.name</option>
                                }
                                </select>
                                <input type="hidden" id="idcustomer" name="idcustomer" value="">
                            </div>
                        </div>
                        <div class="separator bottom"></div>
                        <h5>Lock</h5>
                        <div class="row uniformjs">
                            <div class="col-md-6">
                                <label class="checkbox">
                                    <input id="lock" name="lock" type="checkbox" class="checkbox" value="false"/>
                                    Project Locked
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
        <hr class="separator" />

            <!-- Form actions -->
        <div class="form-actions">
            <button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok"><i></i>Create</button>
            <a  href="@routes.ProjectsController.list(0,10)" class="btn btn-icon btn-default glyphicons circle_remove"><i></i>Cancel</span></a>
        </div>
    </div>
    }
    <script>
        $(function() {

            $( "#idcustomer" ).attr('value', $("#idcustomerlist").val());

            $('input[type="checkbox"]').change(function() {
                if($(this).is(":checked")) {
                    $(this).attr('value', 'true');
                }
                else {
                    $(this).attr('value', 'false');
                }
            });

            $('#idcustomerlist').change(function() {
                $( "#idcustomer" ).attr('value', $(this).val());
            });

            if("@flash.get("success")" != "") {

                var n = noty({
                    text: '@flash.get("success")', 
                    layout: 'topRight',
                    type: 'information'});
            }
            if("@flash.get("error")" != "") {
                var n = noty({
                    text: '@flash.get("error")', 
                    layout: 'top',
                    type: 'error'});
            }
        });
    </script>
}