@(project: ProjectModel, customers: List[CustomerModel], from: Option[String])(implicit flash: Flash, lang: Lang)
@import helper._
@import helper.twitterBootstrap._

@main("Zone Admin", section = "Project") {
    <ul class="breadcrumb">
        <li><a href="#" class="glyphicons eye_open"><i></i>Views</a></li>
        <li class="divider"></li>
        <li><a href="@routes.ProjectsController.list(0,10)">Projects</a></li>
        <li class="divider"></li>
        <li>Editing</li>
    </ul>
    <h3 class="heading-mosaic">Editing Project</h3>
    <div class="innerLR">
        @helper.form(action = routes.ProjectsController.update(project.id.get,from.get),'id -> "validateSubmitForm"){

                <div class="widget">
                    <!-- Widget heading -->
                    <div class="widget-head">
                        <h4 class="heading">Identification</h4>
                    </div>
                    <div class="widget-body">
                        <h5>Name</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="name of project..." id="name" name="name" value="@project.name" class="input-sm form-control col-md-6">
                            </div>
                        </div>
                        <div class="separator bottom"></div>
                        <h5>Code : @project.codename</h5>
                        <input type="hidden" id="codename" name="codename" value="@project.codename">
                        <div class="separator bottom"></div>
                        <h5>Customer</h5>
                        <div class="row">
                            <div class="col-md-3">
                                <select id="idcustomerlist" class="form-control" data-style="btn-primary">
                                @for(customer <- customers){
                                    <option value="@customer.id">@customer.name</option>
                                }
                                </select>
                                <input type="hidden" id="idcustomer" name="idcustomer" value="@project.idcustomer">
                            </div>
                        </div>
                        <div class="separator bottom"></div>
                        <h5>Lock</h5>
                        <div class="row uniformjs">
                            <div class="col-md-6">
                                <label class="checkbox">
                                    <input id="lock" name="lock" type="checkbox" class="checkbox" value="@project.lock"/>
                                    Project Locked
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
        <hr class="separator" />

            <!-- Form actions -->
        <div class="form-actions">
            <button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok"><i></i>Update</button>
            <a  href="@from" class="btn btn-icon btn-default glyphicons circle_remove"><i></i>Cancel</span></a>
        </div>
    </div>
    }
    <script>
        $(function() {
            // INIT
            $('input[type="checkbox"]').each(function() {
                if( $( this ).attr('value') == 'true')
                {
                    $( this ).prop('checked',true);
                }
                else {
                    $( this ).prop('checked',false);
                }
            });
            $( "#idcustomerlist" ).val($( '#idcustomer' ).attr('value'));

            // EVENTS
            $('input[type="checkbox"]').change(function() {
                if($(this).is(":checked")) {
                    $(this).attr('value', 'true');
                }
                else {
                    $(this).attr('value', 'false');
                }
            });

            $('#idcustomerlist').change(function() {
                console.log("change");
                $( "#idcustomer" ).attr('value', $(this).val());
            });

            if("@flash.get("success")" != "") {

                var n = noty({
                    text: '@flash.get("success")', 
                    layout: 'topRight',
                    type: 'information'});
            }
            if("@flash.get("error")" != "") {
                var n = noty({
                    text: '@flash.get("error")', 
                    layout: 'top',
                    type: 'error'});
            }
        });
    </script>
}