@(projects: Page[(ProjectModel,CustomerModel)], pageSize: Int)

@main("Projects Management", section="Project" ) {
	<ul class="breadcrumb">
        <li><a href="#" class="glyphicons eye_open"><i></i>Views</a></li>
        <li class="divider"></li>
        <li>Projects</li>
    </ul>
    <div class="separator bottom"></div>
	<h3>Projects Management</h3>	
    <div class="innerLR">
        <div class="widget">
            <div class="widget-head">
                <h4 class="heading">Listing</h4>
            </div>
    		<div class="widget-body">
                <!--<table class="dynamicTable colVis table table-striped table-bordered table-condensed table-white">-->
                <table class="table table-striped table-primary table-bordered">
                <!--<table class="table table-condensed">-->
                    <thead>
                        <tr>
                            <th class="center">Id</th>
                            <th class="center">Name</th>
                            <th class="center">Code</th>
                            <th class="center">Customer</th>
                            <th class="center">Lock</th>
                            <th class="center">Actions</th>
                        </tr>
                    </thead>
                    @projects.items.map { case (project, customer) => 
                        <tbody>
                            <tr class="gradeX">
                                <td class="center">@project.id</td>
                                <td class="left">@project.name</td>
                                <td class="left">@project.codename</td>
                                <td class="left"><a href="@routes.CustomersController.view(customer.id.get)">@customer.name</a></td>
                                <td class="left">@project.lock</td>
                                <td class="center">
                                    <a href="@routes.ProjectsController.view(project.id.get)" class="btn-action glyphicons eye_open btn-info"><i></i></a>
                                    <a href="@{routes.ProjectsController.edit(project.id.get) + "?from=" + routes.ProjectsController.list(projects.offset.toInt,pageSize)}" class="btn-action glyphicons pencil btn-success"><i></i></a>
                                    <a href="@routes.ProjectsController.delete(project.id.get)" class="btn-action glyphicons remove_2 btn-danger"><i></i></a>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
                <div class="separator top form-inline small">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="btn-group btn-block">
                                <div class="leadcontainer">
                                    <button class="btn dropdown-lead btn-default">@pageSize per page</button>
                                </div>
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span> </a>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="@routes.ProjectsController.list(0,10)">10 per page</a></li>
                                    <li><a href="@routes.ProjectsController.list(0,50)">50 per page</a></li>
                                    <li><a href="@routes.ProjectsController.list(0,100)">100 per page</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <!-- Pagination -->
                            <div style="margin: 0;">
                                <ul class="pagination pagination-small pull-right">
                                    @projects.prev.map { page =>
                                        <li class="active">
                                            <a href="@routes.ProjectsController.list(page.toInt,pageSize)">&laquo;</a>
                                        </li>
                                    }.getOrElse {
                                        <li class="disabled">
                                            <a href="#">&laquo;</a>
                                        </li>
                                    }

                                    @for( i <- 1 to (projects.total.toFloat/pageSize.toFloat).ceil.toInt) {
                                        <li @if(projects.offset == i-1) {class="active"}><a href="@routes.ProjectsController.list(i-1,pageSize)">@i</a></li>
                                    }
                                    @projects.next.map { page =>
                                        <li class="active">
                                            <a href="@routes.ProjectsController.list(page.toInt,pageSize)">&raquo;</a>
                                        </li>
                                    }.getOrElse {
                                        <li class="disabled">
                                            <a href="#">&raquo;</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <!-- // Pagination END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget">
        	 <div class="widget-head">
                <h4 class="heading">Actions</h4>
            </div>
            <div class="widget-body">
            	<div class="row">
					<div class="col-md-3">
            			<a href="@routes.ProjectsController.newProject"><span class="btn btn-block btn-inverse btn-icon glyphicons user_add"><i></i>Add Project</span></a>
            		</div>
            	</div>
            </div>
        </div>
    </div>


}