@(customer: CustomerModel, bills: List[BillModel])

@main("Zone Admin", section = "Customer") {
    <ul class="breadcrumb">
        <li><a href="@routes.CustomersController.view(customer.id.get)" class="glyphicons tag"><i></i>@customer.name</a></li>
    </ul>
    <div class="separator bottom"></div>
    <div class="innerLR">
        @helper.form(action = routes.BillsController.purchase(customer.id.get),'class ->"form-horizontal",'style -> "margin-bottom: 0;",'id -> "validateSubmitForm"){

	        <div class="widget">
	            <!-- Widget heading -->
	            <div class="widget-head">
	                <h4 class="heading">Purchase</h4>
	            </div>
	            <div class="widget-body">
	                <h5>Number of Meters</h5>
	                <div class="row">
	                    <div class="col-md-6">
	                        <input type="text" id="meter" name="meter" value="" class="input-sm form-control col-md-6">
	                    </div>
	                </div>
	                <div class="separator bottom"></div>
	                <h5>Total without VAT</h5>
	                <div class="row">
	                    <div class="col-md-6">
	                        <input type="text" placeholder="customer code is part of unique visit reference" id="total" name="total" value="" class="input-sm form-control col-md-6" maxlength="5">
	                    </div>
	                </div>
	            </div>
	        </div>
           	<!-- Form actions -->
	        <div class="form-actions">
	            <button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok"><i></i>Purchase</button>
	            <a  href="@routes.CustomersController.view(customer.id.get)" class="btn btn-icon btn-default glyphicons circle_remove"><i></i>Cancel</span></a>
	        </div>
            <hr class="separator" />
    	}
    </div>
}