@(customer: CustomerModel, projects: List[ProjectModel])

@main("Zone Admin", section = "Customer") {
    <ul class="breadcrumb">
        <li><a href="@routes.CustomersController.view(customer.id.get)" class="glyphicons tag"><i></i>@customer.name</a></li>
    </ul>
    <div class="separator bottom"></div>
    <div class="innerLR">
        <div class="widget">
            <div class="widget-head">
                <h4 class="heading">Details</h4>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Informations</h4>
                        <div class="separator bottom"></div>
                        <p>Name : <b>@customer.name</b></p>
                        <p>Code : <b>@customer.codename</b></p>
                        <p>Address : <br>@customer.addr1.getOrElse("") <br> @customer.addr2.getOrElse("")<br>@{customer.citycode.getOrElse("") + " " + customer.city.getOrElse("")}</p>
                        <a href="@{routes.CustomersController.edit(customer.id.get) + "?from=" + routes.CustomersController.view(customer.id.get)}"><span class="btn btn-primary btn-icon glyphicons pencil"><i></i>Edit...</span>
                        <a href="@routes.BillsController.view(customer.id.get)"><span class="btn btn-success btn-icon glyphicons bank"><i></i>Account</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget">
            <div class="widget-head">
                <h4 class="heading">List of projects (@projects.length)</h4>
            </div>
            <div class="widget-body">
                @for(project <- projects) {
                    <div data-toggle="gridalicious" data-gridalicious-width="200" class="hide2">
                        <div class="widget widget-heading-simple widget-body-white widget-pinterest">
                            <div class="widget-body padding-none">
                                <a data-toggle="prettyPhoto" rel="prettyPhoto[gallery_1]" href="#" class="thumb no-ajaxify col-md-12" data-gallery>
                                    <img src="#" alt="photo" />
                                </a>
                                <div class="description col-md-12">
                                    <h5 align="center" class="text-uppercase"><a href="@routes.ProjectsController.view(project.id.get)">@project.name</a></h5>
                                    <span class="btn btn-block btn-inverse">Visit with WebPlayer</span>
                                </div>
                            </div>
                        </div>    
                    </div>
                }
            </div>
        </div>
        <div class="widget">
            <div class="widget-head">
                <h4 class="heading">Statistics</h4>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-3">
                        <h4>Downloads</h4>
                        <p>not available</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Visits</h4>
                        <p>not available</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Agency</h4>
                        <p>not available</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Devices</h4>
                        <p>not available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}