@(customer: CustomerModel, from: Option[String])(implicit flash: Flash, lang: Lang)
@import helper._
@import helper.twitterBootstrap._

@main("Zone Admin", section = "Customer") {
    <ul class="breadcrumb">
        <li><a href="#" class="glyphicons eye_open"><i></i>Views</a></li>
        <li class="divider"></li>
        <li><a href="@routes.CustomersController.list(0,10)">Customers</a></li>
        <li class="divider"></li>
        <li>Editing</li>
    </ul>
    <h3 class="heading-mosaic">Editing Customer</h3>
    <div class="innerLR">
            @helper.form(action = routes.CustomersController.update(customer.id.get,from.get),'class ->"form-horizontal",'style -> "margin-bottom: 0;",'id -> "validateSubmitForm"){

                <div class="widget">
                    <!-- Widget heading -->
                    <div class="widget-head">
                        <h4 class="heading">Identification</h4>
                    </div>
                    <div class="widget-body">
                        <h5>Name</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="name of society..." id="name" name="name" value="@customer.name" class="input-sm form-control col-md-6">
                            </div>
                        </div>
                         <div class="separator bottom"></div>
                        <h5>Code : @customer.codename</h5>
                        <input type="hidden" id="codename" name="codename" value="@customer.codename">
                         <div class="separator bottom"></div>
                        <h5>Pass Key</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" maxlength="8" placeholder="passkey brioche..." id="passkey" name="passkey" value="@customer.passkey" class="input-sm form-control col-md-6">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <!-- Widget heading -->
                    <div class="widget-head">
                        <h4 class="heading">Adress</h4>
                    </div>
                    <div class="widget-body">
                        <h5>Line 1</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <input placeholder="adress..." id="addr1" name="addr1" type="text" value="@customer.addr1" class="input-sm form-control col-md-6">
                            </div>
                        </div>
                        <div class="separator bottom"></div>
                        <h5>Line 2</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <input placeholder="adress..." id="addr2" name="addr2" type="text" value="@customer.addr2" class="input-sm form-control col-md-6">
                            </div>
                        </div>
                        <div class="separator bottom"></div>
                        <h5>City code</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <input placeholder="code..." id="citycode" name="citycode" type="text" value="@customer.citycode" class="input-sm form-control col-md-6">
                            </div>
                        </div>
                        <div class="separator bottom"></div>
                        <h5>City</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <input placeholder="city name..." id="city" name="city" type="text" value="@customer.city" class="input-sm form-control col-md-6">
                            </div>
                        </div>
                    </div>
                </div>
        <hr class="separator" />
        <!-- Form actions -->
        <div class="form-actions">
            <button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok"><i></i>Update</button>
            <a  href="@from" class="btn btn-icon btn-default glyphicons circle_remove"><i></i>Cancel</span></a>
        </div>
    </div>
        <script>
        $(function() {
            if("@flash.get("success")" != "") {

                var n = noty({
                    text: '@flash.get("success")', 
                    layout: 'topRight',
                    type: 'information'});
            }
            if("@flash.get("error")" != "") {
                var n = noty({
                    text: '@flash.get("error")', 
                    layout: 'top',
                    type: 'error'});
            }
        });
    </script>
    }

}