@(message: String)

@main("Welcome to Play", section="Dashboard" ) {
    <ul class="breadcrumb">
        <li><a href="#" class="glyphicons eye_open"><i></i>Dashboard</a></li>
    </ul>
    <div class="separator bottom"></div>
	
    <div class="innerLR">

		<div class="widget">
		
			<!-- Widget heading -->
			<div class="widget-head">
				<h4 class="heading">Data count</h4>
			</div>
			<!-- // Widget heading END -->
			
			<div class="widget-body">
			
				<!-- Stacked bars Chart -->
				<div id="sb-count" style="width:600px;height:250px;display:inline-block"</div>
			</div>
		</div>

	</div>
	<script>
		$(function(){
			$.get("@routes.Statistic.countVisits", function(data) {
				console.log("data=" + data);
				$.plot("#sb-count",
					[ [[0, 0], [1, 1]] ], { yaxis: { max: 10} });
			});
		});
	</script>
}
