@(section: String)
<!-- Regular Size Menu -->
<ul>
	<li class="glyphicons display @{if(section.equals("dashboard")) "active"}"><a href="@routes.DashboardController.index"><i></i><span>Dashboard</span></a></li>			
	<!-- Submenu Level 1 (active) -->
	<li class="hasSubmenu glyphicons eye_open @{if(	section.equals("Visit") 
													|| section.equals("Project") 
													|| section.equals("Customer")
													|| section.equals("Log")) "active"}">
		<a data-toggle="collapse" href="#submenu-1"><i></i><span>Views</span></a>
		<ul class="collapse @{if(section.equals("Visit") 
								|| section.equals("Project") 
								|| section.equals("Customer") 
								|| section.equals("Log")) "in"}" id="submenu-1">
			<!-- Submenu Level 1 Regular Items -->
			<li class="@{if(section.equals("Visit")) "active"}"><a href="@routes.VisitsController.list(0,10)"><span>Visits</span></a></li>
			<li class="@{if(section.equals("Project")) "active"}"><a href="@routes.ProjectsController.list(0,10)"><span>Projects</span></a></li>
			<li class="@{if(section.equals("Customer")) "active"}"><a href="@routes.CustomersController.list(0,10)"><span>Customers</span></a></li>
			<li class="@{if(section.equals("Log")) "active"}"><a href="@routes.LogsController.list(0,10)"><span>Logs</span></a></li>
			
		</ul>
		<span class="count">4</span>
	</li>

	<li class="hasSubmenu glyphicons ipad ">
		<a data-toggle="collapse" href="#submenu-2"><i></i><span>Devices</span></a>
		<ul class="collapse" id="submenu-2">
			<!-- Submenu Level 1 Regular Items -->
			<li><a href="#"><span>Configurations</span></a></li>
			<li><a href="#"><span>All</span></a></li>
			<li><a href="#"><span>Black list</span></a></li>
			
		</ul>
		<span class="count">3</span>
	</li>	
	<li class="hasSubmenu glyphicons bank @{if(section.equals("Accounts")) "active"}">
		<a href="@routes.Statistic.index"><i></i><span>Accounts</span></a>
	</li>
	<li class="hasSubmenu glyphicons stats @{if(section.equals("Stats")) "active"}">
		<a href="@routes.Statistic.index"><i></i><span>Statistics</span></a>
	</li>			
</ul>