@(search: SearchResults, pattern: String)

@main("Search Results", section="" ) {

	@defining(search.visits.length + search.customers.length + search.projects.length) { totalCount =>
		<h3>@totalCount result@if(totalCount>1){s} found for &laquo; @pattern &raquo;</h3>	
	}	
    <div class="innerLR">
    	@if(search.customers.length > 0){
			<div class="widget">
				<div class="widget-head">
					<h4 class="heading glyphicons search"><i></i><a href="@routes.CustomersController.list(0,10)">Customers</a> (@search.customers.length)</h4>
				</div>
				<div class="widget-body list">
					<ul>
						@for(customer <- search.customers) {
							<li><span><a href="@routes.CustomersController.edit(customer.id.get)"> @customer.name </a> (@customer.codename) - Address : @{ customer.addr1.getOrElse("") + " " + customer.addr2.getOrElse("") + " " + customer.citycode.getOrElse("") + " " + customer.city.getOrElse("")}</span></li>
						}
					</ul>
				</div>
			</div>
		}
		@if(search.projects.length > 0){
			<div class="widget">
				<div class="widget-head">
					<h4 class="heading glyphicons search"><i></i><a href="@routes.ProjectsController.list(0,10)">Projects</a> (@search.projects.length)</h4>
				</div>
				<div class="widget-body list">
					<ul>
						@for(project <- search.projects) {
							<li><span><a href="@routes.ProjectsController.view(project.id.get)"> @project.name </a> (@project.codename)</span></li>
						}
					</ul>
				</div>
			</div>
		}
    	@if(search.visits.length > 0){
			<div class="widget">
				<div class="widget-head">
					<h4 class="heading glyphicons search"><i></i><a href="@routes.VisitsController.list(0,10)">Visits</a>  (@search.visits.length)</h4>
				</div>
				<div class="widget-body list">
					<ul>
						@for(visit <- search.visits) {
							<li><span><a href="@routes.VisitsController.view(visit.id.get)"> @visit.name </a> (@visit.reference)</span></li>
						}
					</ul>
				</div>
			</div>
		}
    </div>
}