@(message: String)
@main("Welcome to Play", section="Stats" ) {
		<h3 class="heading-mosaic">Statistics</h3>	
		<p>
			This is a light-weight blank page, with minimum to none plugins loaded, a simpler menu example and perfect to get you started, as you build up your next cool web app. You can <a href="index.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light" class="glyphicons single link"><i></i>return to the fully featured version</a> anytime.
		</p>
}